<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }} - Matthew Moonen</title>
</head>
<body>
    <div class="hero-image">
        <div class="hero-text">
            <p class="date">March 10, 2023</p>
            <!-- <h1>Title of Blog Post - Here is a title that is reasonable long</h1> -->
            <h1>{{ post.title }}</h1>
        </div>
    </div>
    
    <div class="container">
        <h1>{{ post.title }}</h1>
        {{ post.body|safe }}
    </div>
</body>
</html>
