.icon-container{
    width: 60px;
    height: 70px;
    position: relative;
    float: left;
    margin: 0.8rem;
}
  
.icon-container::before{
    transition: opacity 200ms;
    transition-delay: 1000ms;
}

.icon-container {
    fill: rgb(215, 215, 215);
}
.icon-container:hover, .icon-container:active {
    fill: rgb(238, 238, 238);
}

.icon-container:hover::before{
    opacity: 0;
    transition-delay: 0;
}
  
.text-wrapper1{
    display: block;
    align-items: center;
}
  
.text-wrapper1 span {
    transition-delay: 0;
}
  
.text-wrapper1 span {
    opacity: 0;
    transition: transform 400ms, opacity 400ms;
}
  
.text-wrapper1 span {
    transform: translateZ(0) translateY(-3rem);
}
  
.icon-container:hover .text-wrapper1 span,
.icon-container:hover {
    opacity: 1;
    transform: translateZ(0) translateY(0);

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) { 
        @include transition-delay(0.1s * $i); 
      }
    }
  }

.text-wrapper2 {
    position: absolute;
    top: 27%;
    left: 0;
    right: 0;
    letter-spacing: 0.05rem;
    /* color: rgb(196, 127, 0); */
    color: hsl(212, 100%, 50%);
    
}

.text-wrapper1 {
    text-align: center;
}