@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



* {
    box-sizing: border;
}

:root{
  --backgroundColour1: rgb(33, 33, 33);
  --backgroundColour2: hsl(207, 13%, 17%);
}

body {
    margin: 0;
    padding: 0;
    font-size: .9rem;
    background-color: var(--backgroundColour1);
    font-family: 'Rubik', sans-serif;
}

.index-section{
    margin: 0;
    padding: 50px 0 20px 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.index-section.active {
  opacity: 1;
}

.index-home {
  background-color: var(--backgroundColour1);
  display: block;
  height: calc(100vh - 3.8rem);
  
  text-align: left;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


.home-top-half {
  position: absolute;
  background-color: transparent;
  height: 100vh;
  max-width: 800px;
  margin: auto;
  left: 0;
  right: 0;
  transform: translateY(calc(-65px + -100vh));
  z-index: 50;
}


#about-heading, #blog-heading, #contact-heading {
  color: #4f4f4f;
  font-size: 50px;
  font-weight: 900;
  font-family: 'Rubik', sans-serif;
}


@media all and (max-width: 1200px) {
  #contact-heading, #blog-heading {
    text-align: center;
  }
}


#page-title {
  color: white;
  margin: auto;

  max-width: 1000px;
  z-index: 999;
  transform: translateY(-40px);
  background: rgba(33, 33, 33, 0.3);
}

.title-leadin, .title-tagline {
  font-family: 'Rubik', sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
}

.title-tagline {
  font-size: 18px;
  color: #d3d3d3;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.title-myname {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  padding-bottom: 0;
  letter-spacing: 0.02em;
  /* color: whitesmoke; */
  color: #F95659;
  /* color: #FF4141; */
  font-size: 100px;
}



#logg {
  display: flex;
  justify-content: center;
  background-color: var(--backgroundColour1);
}



#logg-heading, #deutsch-heading {
  font-family: 'Rubik', sans-serif;
  font-size: 85px;
  margin-top: 0;
  letter-spacing: 0.1rem;
  color: #535353;
}


#deutsch-heading {
  font-size: 55px;
}

#logi-image-1 {
  max-width: 100%;
  height: auto;
  transform: translateY(5px);
}  


#deutsch1 {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  background-color: var(--backgroundColour1);
}

#deutsch-image-container {
  max-width: 900px;
  width: 70%;
  height: auto;
  /* background-color: #1A1A1A; */
  background-color: #171717;
  opacity: 0.65;
  border-radius: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
  transition: background-color 0.5s ease-in-out, opacity 0.7s ease-in;

}

#deutsch-image-container img {
  vertical-align: middle;
  padding: 50px;
  max-width: calc(100% - 100px);
  height: auto;
}

#deutsch-image-container:hover {
  /* background-color: black; */
  /* background-color: #0b0b0b; */
  background-color: #101010;

  /* transition: background-color 0.8s ease-in; */
  opacity: 1.0;
}



#logi-paragraph, #deutsch-paragraph {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #9f9f9f;
  /* padding-right: 290px; */
  max-width: 600px;
}

#deutsch-description, #logi-description {
  /* padding-left: 50px; */
  padding-right: 20px;
}

.highlight-project {
  color: whitesmoke;
  /* color: #0091EA; */
  font-weight: 900;
}

.logg-colour-highlight{
  color: #FF4141;
  font-weight: 900;
}

#features {
  font-size: 16px;
}

@media screen and (max-width: 890px) {
  .title-myname {
    font-size: 75px;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
}


.title-leadin {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 19px;
}



.title-projects {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 6rem;
  padding-bottom: 0;
  letter-spacing: 0.05em;
  color: whitesmoke;
  font-size: 50px;
  text-align: center;
  font-style: italic;
}


.promise-section {
  position: absolute;
  margin: 0 2.5em 2.5em 0;
  padding: 0;
  text-align: right;
  right: 0;
  bottom: 0;
}

.promise {
  opacity: 0;
  height: 100%;
  text-align: right;
  color: rgb(56, 63, 69);
  /* color: white; */
  font-family: 'Space Mono', 'Courier New';
  font-weight: 700;
  font-size: 14px;
}

.promise-reveal {
  display: none;
}


.about {
  color: #d3d3d3;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

.about-content {
  display: flex;
  margin: auto;
}
.about-img {
  float: right;
  max-width: 400px;
  height: auto;
}

#about-test{
  background-color: #d3d3d3;
}


.projects {
    display: block;
    position: relative;
    background-color: var(--backgroundColour1);
    color: whitesmoke;
    margin: 0 auto;
    padding-left: 3vw;
    padding-right: 3vw;
}

.project-heading-link a {
  color: #0091EA;
}

.project-heading-link a:hover {
  opacity: 0.8;
}



.projects-container {
  position: relative;
  display: flex;
  justify-content: center;
}

#projects-outer-container {
  max-width: 1100px;
  margin: 0 auto;
}

table {
  width: 80vw;
  max-width: 900px;
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px;
}

th, td {
  padding: 0px;
  text-align: center;
}

th a {
  display: block;
  padding: 12px;
  transform: translateY(5px);
  font-weight: 400;
}

#project-content {
  min-height: 500px;
}


.python-script-title a {
  color: #d3d3d3;
  opacity: 0.65;
}

.python-script-title a:hover { 
  opacity: 0.4;
}

.portfolio-img {
  filter: grayscale(100%) brightness(120%) contrast(0.7) blur(0.4px);
  filter: grayscale(100%) brightness(120%) contrast(0.7);
  transform: scale(0.9825);
  transition: all 0.125s ease-in;
  max-width: 600px;
}

.portfolio-img:hover {
  filter: grayscale(0%) brightness(100%) contrast(1) blur(0px);
  transform: scale(1);
  box-shadow: 0px 0px 6px 1.5px rgba(255, 255, 255, 0.1);
}


#blog {
    background-color: var(--backgroundColour2);
}


 .styled-link {
  color: #3498db;
  font-weight: bold;
  transition: 0.5s ease;
  display: inline-block;
}

.styled-link:visited,
.styled-link:active {
  color: #3498db; 
}

.styled-link:hover {
  color: #92d3ff;
  transform: scale(1.05); 
}


#contact {
  background-color: var(--backgroundColour1);
  /* color: #d3d3d3; */
  /* color: #c2c2c2; */
  color: rgb(160, 160, 160);
}

.my-form-container {
  background-color: var(--backgroundColour1);
  padding-left: 2%;
  padding-right: 2%;
}
.my-form {
  max-width: 992px;
}

input, textarea {
  padding: 0.2rem 1rem;
  border-style: solid;
  border-width: 1px;
  color: #d3d3d3;
  background-color: hsl(206, 12%, 23%);
  /* background-color: white; */
  border: none;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(to bottom right, rgba(252, 176, 77, 0.7), rgba(249, 87, 90, 0.7)) 1;
  border-image: linear-gradient(to bottom right, rgba(249, 87, 90, 0.7), rgba(84, 170, 222, 0.7)) 1;
}

textarea:focus, input:focus{
outline: none;
border-image: linear-gradient(to top, rgba(84, 170, 222, 0.9), rgba(249, 87, 90, 0.9)) 1;
box-shadow: 0 0 1px 1px rgba(84, 170, 222, 1);
}

input, textarea {
  font-family: 'Source Code Pro';
  font-size: 1.05rem;
}

button {
  color: rgb(84, 170, 222);
  font-size: 1.5rem;
  border-radius: 3px;
  background-color: transparent;
  border-style: solid;
  border-width: medium;
}



button:hover {
  border-image: linear-gradient(to top left, rgba(249, 87, 90, 0.7), rgba(84, 170, 222, 0.7)) 1;
  background: -webkit-linear-gradient(to top left, rgba(249, 87, 90, 1.0), rgba(84, 170, 222, 1.0));
  background: linear-gradient(to top left, rgba(249, 87, 90, 1.0), rgba(84, 170, 222, 1.0));
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  box-shadow: 0 0 0.5px 1px rgba(84, 170, 222, 1.0);
}

.form-group label {
  display: none;
}

.form-group {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

#firstLastOnSameLine {
  padding: 0;
}


.ismt {
opacity: 0;
transform: translateX(-25px);
transition: opacity 0.5s ease-in-out, transform 0.5s ease-in;
}

.ismt.active {
opacity: 1;
transform: translateX(0);
}


/* Styling for "function" animation at the top of the page */
#animation-text {
  white-space: pre-wrap;
  font-family: 'Source Code Pro', 'Space Mono', 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: 16px;
  position: absolute;
  bottom: 0;
  overflow-y: auto;
  overflow: hidden;
  height: 100vh;
  width: 800px;
  transform: translateY(-50%);
  margin: auto;
}


.cursor {
  animation: blink 0.8s linear infinite;
  display: inline-block;
  width: 1ch;
  padding-top: 0;
  color: white;
  font-family: Verdana;
  font-weight: 900;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Styling of colours in the code animation - span tags are added by Javascript and colour scheme matches VS Code "Github Dark" theme 
   Class names specified within JS variable "textArray" */
.red {
    color: rgb(255, 106, 106);
}
.blue {
    color: rgb(124, 190, 244);
}
.darkblue {
    color: rgb(81, 154, 214);
}
.white {
    color: rgb(215, 215, 215);
}
.purple {
    color: rgb(145, 92, 178);
}
.orange {
    color: rgb(255, 162, 0);
}
.grey {
    color: rgb(66, 75, 82);
}
.italic-code { /* This class is specified within JS variable "textArray" */
    font-family: 'Space mono';
    font-style: italic;
    font-weight: 400;
}


/* Lower opacity of animation lines of code as as the animation moves through the lines
   Again, class names specified within JS variable "textArray" */
.line4 {
  opacity: 0.9;
}
.line5 {
    opacity: 0.8;
}
.line6 {
    opacity: 0.63;
}
.line7 {
    opacity: 0.55;
}
.line8 {
    opacity: 0.47;
  }
.line9 {
    opacity: 0.40;
  }
.line10 {
    opacity: 0.4;
  }
.line11 {
    opacity: 0.4;
  }
.line12 {
    opacity: 0.4;
  }
.line13 {
    opacity: 0.4;
  }
.line14 {
    opacity: 0.4;
  }
.line15 {
    opacity: 0.2;
  }
.line16 {
    opacity: 0.2;
  }
.line17 {
    opacity: 0.2;
  }
.line18 {
    opacity: 0.05;
  }
.line19 {
    opacity: 0.1;
  }


@media (max-width: 600px) {
  .portfolio-img {
    width: 100%;
  }
  .about-img {
    width: 100%;
  }
}


/* Style Home section on smaller devices */
@media (max-width: 799px) {

#index-home {
  padding-left: 1rem;
  padding-right: 1rem;
}

.promise {
  font-size: 10px;
}

  #animation-text {
    width: 100vw;
    font-size: 14px;
  }
}


@media all and (max-width: 991px) {
  /* Display submit button across whole page on mobile/tablet */
  .btn {
      display: block;
      width: 100%;
      margin-top: 5px;
  }
  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: hsl(207, 4%, 53%);
    }
    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: hsl(207, 4%, 53%);
    }
    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: hsl(207, 4%, 53%);
    }
    :-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: hsl(207, 4%, 53%);
    }
    input::placeholder {
      color: hsl(207, 4%, 53%);
    }
    textarea::-webkit-input-placeholder {
        /* WebKit browsers */
        color: hsl(207, 4%, 53%);
    }
    textarea:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: hsl(207, 4%, 53%);
    }
    textarea::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: hsl(207, 4%, 53%);
    }
    textarea:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: hsl(207, 4%, 53%);
    }
    textarea::placeholder {
        color: hsl(207, 4%, 53%);
    }
}

@media all and (min-width: 768px) {
  .my-form-container {
      margin-left: 4%;
      margin-right: 4%;
  }
  #firstLastOnSameLine {
      display: flex; 
      width: 48%;
      float: left;
      margin-right: 1%;
  }
  input, textarea {
      font-size: 1.05rem;
  }
}

@media all and (min-width: 992px) {

  /* Display contact form labels when screen reaches a minimum size */
  .form-group label{
      display: block;
      font-size: 0.95rem;
      padding-bottom: 0.15rem;
      letter-spacing: 0.05rem;
  }
  .my-form-container {
    margin-left: calc(50vw - 496px);
    margin-right: 4%;
}
  .my-form-container {
    padding-left: 0;
    /* padding-left: calc(50vw - 300px); */
    padding-right: 0;
  }
  .my-form {
    max-width: 992px;
    /* padding-left: calc(50vw - 992); */
  }
  /* Place button on RHS on desktop */
  .btn {
      float: right;
  }


  /* Make placeholders disappear when labels appear */
  ::-webkit-input-placeholder {
  /* WebKit browsers */
      color: transparent;
  }
  :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: transparent;
  }
  ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: transparent;
  }
  :-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: transparent;
  }
  input::placeholder {
      color: transparent;
  }
  textarea::-webkit-input-placeholder {
      /* WebKit browsers */
      color: transparent;
  }
  textarea:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: transparent;
  }
  textarea::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: transparent;
  }
  textarea:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: transparent;
  }
  textarea::placeholder {
      color: transparent;
  }

  /* update button size */
  button {
      font-size: 1.3rem;
      display: inline;
  }

  .my-form-container {
-webkit-animation: fadein 1.15s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 1.15s; /* Firefox < 16 */
-ms-animation: fadein 1.15s; /* Internet Explorer */
-o-animation: fadein 1.15s; /* Opera < 12.1 */
  animation: fadein 1.15s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
}

button {
  border-color: rgb(84, 170, 222);
  padding: 0.2rem 1rem;
  border-style: solid;
}

body {
  overflow: hidden;
}


.my-technologies {
  display: grid;
  /* layout of icons on smallest mobile screens */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: 
    "a a a"
    "b b b"
    "c c c"
    "d d d"
    "e e e"
    "  f  "
}
.technology-heading {
  text-align: center;
  color: rgb(252, 176, 77);
}

.tech-icons {
  fill: rgba(84, 170, 222, 0.7);
}
.tech-icons:hover {
  fill: rgba(84, 170, 222, 1.0);
}

.icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.icon-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}


@media (min-width: 280px) {
  .my-technologies {
    /* Layout of icons on regular mobile screens */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
      "a a b b"
      "c c d d"
      "e e f f"
      "g g h h";
  }
  .tech-icons {
    margin-bottom: 4.5vw;
  }
}

@media (min-width: 570px) {
  .my-technologies {
    /* Layout of icons on tablets */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
      "a b c d e f g h"
      "i j k l m n o p";
  } 
  .tech-icons {
    margin-bottom: 3vw;
  }
}

@media (min-width: 1040px) {
  .my-technologies {
    /* Layout of icons on desktop and other large screens */
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
      "a b c d e f g h i j k l m n o p";
    max-width: 1100px;
    margin: 0 auto;
}
}


.blog {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

.post-blurb {
  color: #d3d3d3;
}
.blog-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.blog-card-title a {
  color: #d3d3d3;
  opacity: 0.65;
}

.post-blurb a {
  color: rgba(84, 170, 222, 1.0);
}

.post-blurb a:hover {
  color: rgba(84, 170, 222, 0.8);
}

.project-heading-h2 {
  text-align: center;
  color: rgba(84, 170, 222, 1.0);
  font-size: 1.4rem;
  /* color: rgb(249, 87, 90); */
}


/* .blog-card-title a {
  color: #d3d3d3;
  text-decoration: none;
  position: relative;
}

.blog-card-title a:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #d3d3d3;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.blog-card-title a:hover:before {
  visibility: visible;
  transform: scaleX(1);
} */


/* .blog-card-title a:hover {
  color: red;
  text-decoration: none;
} */

.project-inner {
  color: grey;
}

.key-projects {
  margin: 0 auto;
  padding-top: 16px;
}

#contact-container {
  max-width: 1100px;
  margin: 0 auto;
}


.project-image-container {
  transition: transform 0.3s ease-out;
}

.project-image-container:hover {
  transform: scale(1.005);
}

#logi-image-container {
  max-width: 900px;
  width: 70%;
  height: auto;
  border-radius: 30px;
  display: flex;
  align-items: center;
  opacity: 0.9;
  background-color: #D13B3B;
  /* transition: background-color 0.5s ease-in;
  transition: opacity 0.5s ease-in; */
  transition: background-color 0.4s ease-in-out, opacity 0.25s ease;
}

#logi-image-container:hover {
  /* background-color: #FF4141; */
  background-color: #ff3737;

  opacity: 1.0;
  /* transition: opacity 0.1s ease-in; */
  /* transition: background-color 0.3s ease-in; */
}




.project-image-image {
  transition: transform 0.3s ease-in;
  overflow: hidden;
  display: inline-block;
}

.project-image-image img:hover{
  transform: scale(1.005);
}


.selected-bottom-border {
  border-bottom: 2px solid rgba(249, 87, 90, 0.8);
  transition: border-color 0.3s ease-in-out;
}

.non-selected-bottom-border {
  border-bottom: 2px solid rgba(211, 211, 211, 0.3);
  transition: border-color 0.3s ease-in-out;
}

.selected-bottom-border1 {
    border-bottom: 2px solid rgba(249, 87, 90, 0.8);
}

#project-link1 a {
    color: rgba(249, 87, 90, 0.9);
}

#project-content {
  transition: opacity 0.3s linear, transform 0.3s linear;
}

#project-content p {
  text-align: left;
}

.project-link a:link{
  text-decoration: none;
  color: rgba(211, 211, 211, 0.4);
  font-size: 1.00rem;
  transition: color 1s ease-out;
}

.project-link a.project-non-active-link {
    color: rgba(211, 211, 211, 0.4);
}

#function-line1 {
  position: absolute;
  height: 60vh;
  width: 100vw;
  top: 0;
  right: 0;
  background-color: rgb(33, 33, 33);
  /* background-color: white; */
}

@media all and (max-width: 1350px) {
  #logg-heading {
    font-size: 65px;
  }
  .title-projects {
    margin-bottom: 4rem;
    text-align: left;
    /* font-weight: 600; */
    /* font-size: 60px; */
  }

  #logi-image-container, #deutsch-image-container {
    width: 80%;
  }

  #deutsch-image-container img {  
    padding: 40px;
    max-width: calc(100% - 80px);
  }  
}


@media all and (max-width: 1000px) {
  #deutsch1, #logg {
    display: block;
  }
  
  #logg-heading, #deutsch-heading {
    text-align: center;
  }
  #logg-heading {
    font-size: 75px;
  }

  .title-projects {
    margin-bottom: 2rem;
  }

  #logg, #deutsch1 {
    padding-left: 8%;
    padding-right: 8%;
  }
  #logi-image-container, #deutsch-image-container {
    width: 100%;
  }
}

@media all and (max-width: 550px) {
  .title-projects {
    font-size: 30px;
  }
  #logg-heading {
    font-size: 55px;
  }
  #logg, #deutsch1 {
    padding-left: 0px;
    padding-right: 0px;
  }
}


#phone, #message {
  display: none;
}

@media all and (max-width: 420px) {
  .title-myname {
    font-size: 60px;
  }
}