.navbar {
    display: block;

    /* position: -webkit-sticky;
    position: sticky;
    top: 0; */
}




.navbar-text-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (min-width: 992px) {
    .navbar {
        display: flex;
    }

    .text-links {
        display: inline-block;
    }
    .home {
        float: left;
    }
    .navbar-text-list, .navbar-icon-links {
        position: absolute;
        right: 0;
        float: right;



    }
}