:root{
    --mainColour: hsl(0, 0%, 100%);
    --hoverColour: hsl(0, 0%, 100%, 50%);
}
.navbar {
    display: block;
    margin: 0;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: hsl(240, 3%, 23%);
    z-index: 1100;
}
.home {
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    font-size: 0.85rem;
}
.navbar a {
    text-decoration: none;
    color: var(--mainColour);
    fill: var(--mainColour)
}
.navbar a:visited {
    color: var(--mainColour)
}
.navbar-links {
    display: block;
    position: absolute;
    right: 0;
}
.navbar-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.toggle-buttons {
    position: absolute;
    display: grid;
    right: 1.3rem;
    transform: translateY(-18px);
}
.toggle-on, .toggle-off {
    grid-row: 1;
    grid-column: 1;
}
.centre-navbar-mobile {
    color: transparent;
}

@media (max-width: 991px) {

    .navbar a {
        color: black;
    }
    
    .navbar a:visited {
        color: black;
    }


    .navbar {
        padding: 1.6rem 0 1.6rem 0;
    }

    .home a {
        color: var(--mainColour);
    }
    .home a:visited {
        color: var(--mainColour);
    }

    .mobile-icon-links {
        display: inline-block;
        padding-left: 0.5rem;
    }
    .text-links {
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
    }
    .hide-me {
        display: none;
    }
    .toggle-off {
        display: none;
    }
    .toggle-on {
        fill: var(--mainColour);
    }
    .navbar-links {
        display: none;
    }
    .navbar-links {
        position: absolute;
        margin: 0;
        top: 50vh;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: right;
        padding-right: 10vw;
        font-size: 0.7rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
    }

    .hide-me {
        height: 100vh;
        width: 100vw;
    }


    .home {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }

    .icon-links {
        display: none;
    }



    .icon-links-mobile {
        position: absolute;
        bottom: 80px;
        right: 10vw;
    }

    .svg-toggle-off {
        fill: black;
    }

}

@media (max-height: 500px) {
    .icon-links-mobile {
        position: absolute;
        bottom: 10px;
        /* right: 65px; */
    }
}


@media (min-width: 992px) {

    .centre-navbar-mobile {
        display: none;
    }

    .toggle-buttons {
        display: none;
    }

    .icon-links-mobile {
        display: none;
    }

    .navbar {
        display: flex;
        padding: 1.4rem 0 1.4rem 4rem;
    }
    .navbar-links {
        margin-right: 4rem;
    }
    .navbar-items {
        display: inline-block;
        padding-left: 0.8rem;
    }
    .home {
        float: left;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
    }
    .navbar-links {
        position: absolute;
        float: right;
        right: 0;
    }
    .text-links {
        transform: translateY(-1.4rem);
        letter-spacing: 0.05rem;
    }
    .icon-links {
        transform: translateY(-1rem);
    }
}