<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add entry</title>
</head>
<body>

    <form method="POST" action="{{ url_for('add_entry') }}">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"><br>
      
        <label for="body">Body:</label>
        <textarea id="body" name="body"></textarea><br>
        
        <label for="blurb">Blurb</label>
        <textarea id="blurb" name="blurb"></textarea><br>

        <label for="slug">Slug</label>
        <input type="text" id="slug" name="slug"><br>

        <button type="submit" class="btn" id="btnSend">Submit</button>
      </form>

</body>
</html>