<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <br>



          




        <p>Click <a href="/add_entry">here</a> to add another entry.</p>
        <p>Click <a href="/logout">here</a> to log out.</p>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}

        <h3>Posts:</h3>
        {% for post in posts %}
        <strong>Title: </strong> {{ post.title }} <br>
        <strong>Posts: </strong> {{ post.body }} <br>
        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this post?')">
            <input type="submit" value="Delete">
        </form>
        {% endfor %}
    </div>
</body>
</html>