<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Welcome Back, Matthew</h1>
        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        <br>
        <p>Click <a href="/add_entry">here</a> to add another entry.</p>
        <p>Click <a href="/logout">here</a> to log out.</p>
        <h3>Recent Blog Posts:</h3>
        {% for post in posts %}
        <a href="{{ url_for('blog_post', slug=post.slug) }}">{{ post.title }}</a><br>
        <!-- <a href="{{ url_for('blog_post', slug=slug) }}">{{ post.title }}</a><br> -->
        <strong>ID: </strong> {{ post._id }} <br>
        <a href="{{ url_for('delete_post', post_id=post._id) }}" onclick="return confirm('Are you sure you want to delete this post?')">Delete</a>
        {% endfor %}
    </div>
</body>
</html>