{% extends '/base/base.html' %}

{% block title %}Contact — Matthew Moonen{% endblock %}

{% block content %}


<h1>Matthew Moonen</h1>

<h1>Navigate Home if not using Navbar - or make it sticky to top?</h1>

<div id="left">
    <p>Each Blog Post has half its content in the Page here with a link to read more</p>
    <p>Or not? Could have all content already present and have a "feature" section at the top</p>
    <h2>Post Title</h2>
    <p>Lorem Ipsum</p>
</div>

<div id="right">
<h1>About</h1>
    <h1>Archives</h1>

<h1>Social Links - "Elsewhere"</h1>
</div>


{% endblock %}