    <style>
        /* body {
            margin: 0;
            padding: 0;
            background-color: rgb(42, 43, 53);
            background-color: rgb(68,70,83);
            color: hsl(0, 0%, 100%, 65%);
        } */
        .my-form-container {
            padding-left: 2%;
            padding-right: 2%;
        }
        .my-form {
            max-width: 992px;
            /* color: red; */
            /* background-color: aqua; */
        }

        input, button, textarea {
            padding: 0.2rem 1rem;
            border-style: solid;
            border-width: 1px;
            /* color: green; */
            /* background-color: rgb(71, 79, 103); */
            color: rgb(153, 153, 153);
            color: rgb(20, 20, 20);
              color: #d3d3d3;

            /* background-color: rgb(109, 114, 117); */
            /* background-color: rgb(64, 65, 79); */
            /* background-color: rgb(20, 20, 20); */




            background-color: hsl(207, 13%, 17%);
            background-color: rgb(45, 45, 45);
            background-color: hsl(206, 13%, 25%);
            background-color: hsl(206, 12%, 23%);


            border: none;
            

            /* border-color: black; */
            /* border-style: solid;
            border-width: 1px; */
            /* border-color: rgb(205, 103, 102); */
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(to bottom right, rgba(252, 176, 77, 0.7), rgba(249, 87, 90, 0.7)) 1;
    border-image: linear-gradient(to bottom right, rgba(249, 87, 90, 0.7), rgba(84, 170, 222, 0.7)) 1;
    /* color: rgb(252, 176, 77);
    color: rgb(249, 87, 90);
    color: rgb(84, 170, 222); */

        }

        textarea:focus, input:focus{
    outline: none;
    border-image: linear-gradient(to top, rgba(84, 170, 222, 0.9), rgba(249, 87, 90, 0.9)) 1;
    box-shadow: 0 0 2px 0 rgba(84, 170, 222, 0.5), 0 0 10px 0 rgba(249, 87, 90, 0.5);
}



        input, textarea {
            font-size: 1.1rem;
            /* border-radius: 3px; */
            /* background-color: whateveryouwant; */
        }

        button {
            font-size: 1.5rem;
            border-radius: 3px;
            background-color: transparent;
            /* color: black;
            border-color: black; */

            color: white;
            border-color: white;

            /* border-color: rgb(249, 229, 162); */
            /* color: rgb(249, 229, 162); */
            /* background-color: rgb(205, 103, 102); */
            background-color: rgb(84, 170, 222);
            
            /* border-color: rgb(124, 216, 255);
            color: rgb(124, 216, 255); */


            /* border-color: rgb(205, 103, 102);
            color: rgb(205, 103, 102); */

            border-style: solid;
            border-width: medium;
        }

        button:hover {
            background-color: black;
            color: white;
            /* border-color: white; */
        }

        .form-group label {
            display: none;
        }

        .form-group {
            padding: 0.5rem 0;
            display: flex;
            flex-direction: column;
        }

        #firstLastOnSameLine {
            padding: 0;
        }


        @media all and (max-width: 991px) {
            /* Display submit button across whole page on mobile/tablet */
            .btn {
                display: block;
                width: 100%;
                margin-top: 5px;
            }
        }


        @media all and (min-width: 768px) {
            .my-form-container {
                margin-left: 4%;
                margin-right: 4%;
            }
            
            #firstLastOnSameLine {
                display: flex; 
                width: 48%;
                float: left;
                margin-right: 1%;
            }
        
            input, textarea {
                font-size: 1.05rem;
            }

        }


        @media all and (min-width: 992px) {

            /* Display form labels when screen reaches a minimum size */
            .form-group label{
                display: block;
                font-size: 0.95rem;
                padding-bottom: 0.15rem;
            }


            /* Place button on RHS on desktop */
            .btn {
                float: right;
            }


            /* Make placeholders disappear when labels appear */
            ::-webkit-input-placeholder {
            /* WebKit browsers */
            color: transparent;
            }
            :-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                color: transparent;
            }
            ::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                color: transparent;
            }
            :-ms-input-placeholder {
                /* Internet Explorer 10+ */
                color: transparent;
            }
            input::placeholder {
                color: transparent;
            }
            textarea::-webkit-input-placeholder {
                /* WebKit browsers */
                color: transparent;
            }
            textarea:-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                color: transparent;
            }
            textarea::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                color: transparent;
            }
            textarea:-ms-input-placeholder {
                /* Internet Explorer 10+ */
                color: transparent;
            }
            textarea::placeholder {
                color: transparent;
            }

            /* update button size */
            button {
                font-size: 1.3rem;
                display: inline;
            }

            .my-form-container {
        -webkit-animation: fadein 1.15s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.15s; /* Firefox < 16 */
        -ms-animation: fadein 1.15s; /* Internet Explorer */
         -o-animation: fadein 1.15s; /* Opera < 12.1 */
            animation: fadein 1.15s;
        }

        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Firefox < 16 */
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Internet Explorer */
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Opera < 12.1 */
        @-o-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        .contact-heading {
    /* color: rgb(84, 170, 222); */
    color: rgb(249, 87, 90);

        }



}

    </style>
<div class="my-form-container" id="my-form-container">
        <h1 class="contact-heading">Contact</h1>
        <p>Please complete the form below to contact me</p>
        <form name="my-form" class="my-form" action="" method="post">
            <div class="form-group" id="firstLastOnSameLine">
                <div class="form-group">
                    <label for="firstName" class="form-label" maxlength="20">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
                </div>
            </div>
                <div class="form-group">
                    <label for="lastName" class="form-label" maxlength="20">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
                </div>

            <div class="form-group">
                <label for="email" class="form-label" maxlength="50">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="subject" class="form-label" maxlength="50">Subject</label>
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
            </div>
            <div class="form-group">
                <label for="message" class="form-label" maxlength="2000">Message</label>
                <textarea class="form-control" id="message" name="message" rows="5" placeholder="Enter your message..." required></textarea>
            </div>
            <div>
                <button type="submit" class="btn" id="btnSend">Submit</button>
            </div>
        </form>
        <br>
        <br>
        <br>
    </div>