{% extends '/base/base.html' %}

{% block title %}Contact — Matthew Moonen{% endblock %}

{% block content %}
    <style>
        main {
            margin-left: 2%;
            margin-right: 2%;
        }
        .my-form {
            max-width: 992px;
        }

        input, button, textarea {
            padding: 0.2rem 1rem;
        }

        input, textarea {
            font-size: 1.1rem;
            border-radius: 3px;
            /* background-color: whateveryouwant; */
        }

        button {
            font-size: 1.5rem;
            border-radius: 3px;
            background-color: transparent;
            color: black;
            border-color: black;
            border-style: solid;
            border-width: medium;
        }

        button:hover {
            background-color: black;
            color: white;
            /* border-color: white; */
        }

        .form-group label {
            display: none;
        }

        .form-group {
            padding: 0.5rem 0;
            display: flex;
            flex-direction: column;
        }

        #firstLastOnSameLine {
            padding: 0;
        }


        @media all and (max-width: 991px) {
            /* Display submit button across whole page on mobile/tablet */
            .btn {
                display: block;
                width: 100%;
                margin-top: 5px;
            }
        }


        @media all and (min-width: 768px) {
            main {
                margin-left: 4%;
                margin-right: 4%;
            }
            
            #firstLastOnSameLine {
                display: flex; 
                width: 48%;
                float: left;
                margin-right: 1%;
            }
        
            input, textarea {
                font-size: 1.05rem;
            }

        }


        @media all and (min-width: 992px) {

            /* Display form labels when screen reaches a minimum size */
            .form-group label{
                display: block;
                font-size: 0.95rem;
                padding-bottom: 0.15rem;
            }


            /* Place button on RHS on desktop */
            .btn {
                float: right;
            }


            /* Make placeholders disappear when labels appear */
            ::-webkit-input-placeholder {
            /* WebKit browsers */
            color: transparent;
            }
            :-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                color: transparent;
            }
            ::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                color: transparent;
            }
            :-ms-input-placeholder {
                /* Internet Explorer 10+ */
                color: transparent;
            }
            input::placeholder {
                color: transparent;
            }
            textarea::-webkit-input-placeholder {
                /* WebKit browsers */
                color: transparent;
            }
            textarea:-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                color: transparent;
            }
            textarea::-moz-placeholder {
                /* Mozilla Firefox 19+ */
                color: transparent;
            }
            textarea:-ms-input-placeholder {
                /* Internet Explorer 10+ */
                color: transparent;
            }
            textarea::placeholder {
                color: transparent;
            }

            /* update button size */
            button {
                font-size: 1.3rem;
                display: inline;
            }

            main {
        -webkit-animation: fadein 1.15s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.15s; /* Firefox < 16 */
        -ms-animation: fadein 1.15s; /* Internet Explorer */
         -o-animation: fadein 1.15s; /* Opera < 12.1 */
            animation: fadein 1.15s;
        }

        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Firefox < 16 */
        @-moz-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Internet Explorer */
        @-ms-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        /* Opera < 12.1 */
        @-o-keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }




}



 
    </style>
    {% include '/base/navbar.html' %}
    <main>
        <h1>Contact</h1>
        <p>Please complete the form below to contact me</p>

        <p>Click Here to see my code for this form, and learn how to use an SQLite and Chron Jobs to automate email forwarding on a VPS.</p>
        <form name="my-form" class="my-form" action="" method="post">
            <div class="form-group" id="firstLastOnSameLine">
                <div class="form-group">
                    <label for="firstName" class="form-label" maxlength="20">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
                </div>
            </div>
                <div class="form-group">
                    <label for="lastName" class="form-label" maxlength="20">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
                </div>

            <div class="form-group">
                <label for="email" class="form-label" maxlength="50">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="form-group">
                <label for="subject" class="form-label" maxlength="50">Subject</label>
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
            </div>
            <div class="form-group">
                <label for="message" class="form-label" maxlength="2000">Message</label>
                <textarea class="form-control" id="message" name="message" rows="5" placeholder="Enter your message..." required></textarea>
            </div>
            <div>
                <button type="submit" class="btn" id="btnSend">Submit</button>
            </div>
        </form>
        <br>
        <br>
        <br>
        
    </main>
    {% endblock %}