{% extends '/base/base.html' %}

{% block title %}Matthew Moonen{% endblock %}

{% block content %}

    {% include '/base/navbar.html' %}

    <main>
        <h1>Matthew Moonen</h1>

        <p></p>


        <p>This website is a collection of personal projects. It has some code, some photography, and a few blog posts.</p>
        <p>Thanks for stopping by!</p>
        <p>Play my <a href="/german">German Language Learning Game</a></p>
        <p><a href="/contact">Contact me</a></p>

        
        {% include 'icons.html' %}


{% endblock %}