{% extends '/base/base.html' %}

{% block title %}Matthew Moonen{% endblock %}

{% block content %}

    {% include '/base/navbar.html' %}

    <main>
        <h1>Matthew Moonen</h1>

        <p></p>


        <p>This website is a collection of personal projects. It has some code, some photography, and a few blog posts.</p>
        <p>Thanks for stopping by!</p>
        <p>Play my <a href="/german">German Language Learning Game</a></p>
        <p><a href="/contact">Contact me</a></p>

        
        {% include 'icons.html' %}
        
        <h2>Programming Projects</h2>
        <p>
            <h3>Major Project - German Language Learning Application</h3>
            <p></p>
            <p></p>

            <h3>YouTube Series - </h3>

            <h3>Portfolio Website - Programming and Photography</h3>

            <h3>Blog</h3>
            <p>Cybersecurity, Programming </p>
            <p></p>

        </p>

    </main>


{% endblock %}