<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <script defer src="/static/js/index.js"></script>
    <title>Matthew Moonen</title>
    <script>
        const me = "Matthew Moonen";
        let you = "visitor";

        greetings()

        async function greetings() {
            console.log(`Hello ${you}. Welcome!`);
            await new Promise((resolve) => {
                window.addEventListener("scroll", () => {
                    const {
                        scrollTop,
                        scrollHeight,
                        clientHeight
                    } = document.documentElement;
                    if (scrollTop + clientHeight >= scrollHeight) {
                        resolve();
                    }
                });
            });
            console.log(`Thanks stopping by ${me}'s website!`);
        }
    </script>
    <style>/* Hide navbar on page load to allow reveal via animation */
        .navbar { visibility: hidden;}
    </style>
</head>
<body>
<main>

{% include '/base/navbar.html' %}
    


<div id="index-home" class="index-home">

    <!-- <div id="index-test"> -->
    <div id="page-title" style="opacity: 0;">
        <p class="title-leadin">Hi, I'm</p>
        <h1 class="title-myname">Matthew Moonen</h1>
        <p class="title-tagline">Linux enthusiast with a background in biology.</p>
    </div>
    <div class="promise-section">
        <!-- TODO UPDATE -->
        <!-- <div class="promise">// Scroll to the bottom to see how the promise resolves ;)</div> -->
        
        
        <!-- <div class="about-img-container">
            <img src="{{ url_for('static',filename='/img/me1.jpg') }}" alt="A photo of me" class="about-img"></img>
        </div>
         -->
        
        <div class="promise">//</div>
    </div>
</div>
<div class="home-top-half">
    <div id="animation-text"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
    <div id="function-line1">|</div>    
<!-- </div> -->
</div>





<div id="about" class="about index-section">
    <h1 class="ismt" id="about-heading">About Me</h1>
    <div class="about-content">
        <div class="about-text">
            <div class="about-img-container">
                <img src="{{ url_for('static',filename='/img/me1.jpg') }}" alt="A photo of me" class="about-img"></img>
            </div>
            
            <p>I'm a programmer and Linux enthusiast with a background in research biology. With over 15 years of experience using Linux server and desktop distributions, I bring a deep understanding of open-source ecosystems and system administration to my development work.</p>

            <p>In 2022, I began my journey into programming, focusing on Python, SQL, and JavaScript to create functional and efficient software solutions. My passion for Linux and programming converged in the development of LogiOpsGUI, an open-source GUI tool that simplifies configuring Logitech mice on Linux.</p>

            <p>With a background in scientific research and experience with technology, I thrive on solving complex problems and am driven by the ethos of open source and contributing to the community.</p>

            <p>I have experience with Nginx, Gunicorn, Flask, SQLite, and Docker, as well as managing and deploying applications in server environments. I've gained these skills through maintaining a homelab and deploying my portfolio on a VPS running Ubuntu Server.</p>

        </div>
    </div>
</div>




<div id="projects" class="projects index-section">
<h1 class="title-projects">Some things I've built</h1>

<div id="logg" class="logg">
<div id="logi-description">
    <h1 id="logg-heading">LogiOpsGUI</h1>
    <div id="logi-paragraph">
    <p>• <span class="logg-colour-highlight">Open source</span> software with <span class="highlight-project" id="active-userbase">active userbase</span></p>
    <p>• <span class="logg-colour-highlight">Mouse configurations on Linux</span> - macros, shortcuts, gestures, scrollwheel customisations, SmartShift, and more</p>
    <!-- <p>• Learn More</p> -->
    <!-- <p>• YouTube Demonstration</p> -->
    <p>• <a href="https://github.com/matthewmoonen/LogiOpsGui/" class="styled-link">GitHub</a></p>
    </div>
    </div>
    <div class="project-image-container" id="logi-image-container">
            <a href="https://github.com/matthewmoonen/LogiOpsGui/" target="_blank" id="logi-link1">

            <div class="project-image-image"><img src="{{ url_for('static',filename='/img/003.png') }}" alt="" id="logi-image-1"/>
            </a>
            </div>
        </div>
    </div>


<div id="deutsch1" class="deutsch1">
    <div id="deutsch-description">
    <h1 id="deutsch-heading">German Fälle</h1>
    <div id="deutsch-paragraph">
    <p>• <span class="highlight-project">Proof of concept</span> gamified language learning app</p>
    <p>• Vanilla JavaScript. API Query. Responsive design.</p>
    <p>• Emphasises concepts that other language apps don't teach effectively - namely cases and declensions</p>
    <p>• <a href="https://matthewmoonen.com/german" class="styled-link">Try it</a></p>
    </div>
    </div>
    <div class="project-image-container" id="deutsch-image-container">
            <a href="https://matthewmoonen.com/german" target="_blank" id="deutsch-link1">
            <div class="project-image-image"><img src="{{ url_for('static',filename='/img/de4.png') }}" alt="" id="deutsch-image-1"/>
            </a>
            </div>
        </div>
    </div>
</div>








        <div id="blog" class="blog index-section">
        <h1 class="ismt" id="blog-heading">Blog</h1>
            <!-- <div class="blog-card-container"> -->


                {% include 'blogcards.html' %}



        </div>
    </div>
    </div>


    


</div>
        <div id="contact" class="index-section">
            <div id="contact-container">
            <h1 id="contact-heading" class="ismt">Contact</h1>
        </div>
            <div class="my-form-container" id="my-form-container">
                <p>Please complete the form below to contact me</p>
                <form name="my-form" class="my-form" action="" method="post">
                    <div class="form-group" id="firstLastOnSameLine">
                        <div class="form-group">
                            <label for="firstName" class="form-label" maxlength="20">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
                        </div>
                    </div>
                        <div class="form-group">
                            <label for="lastName" class="form-label" maxlength="20">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                        </div>
        
                    <div class="form-group" id="email">
                        <label for="email" class="form-label" maxlength="50">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="form-group" id="subject">
                        <label for="subject" class="form-label" maxlength="50">Subject</label>
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                    </div>
                    <div class="form-group" id="address">
                        <label for="address" class="form-label" maxlength="2000">Message</label>
                        <textarea class="form-control" id="address" name="address" rows="5" placeholder="Enter your message..."></textarea>
                    </div>
                    <div class="form-group" id="phone">
                        <label for="phone" class="form-label" maxlength="20">Phone</label>
                        <textarea class="form-control" id="phone" name="phone" rows="5" placeholder="123456789"></textarea>
                    </div>
                    <div class="form-group" id="message">
                        <label for="message" class="form-label" maxlength="2000">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="5" placeholder="Enter your message..."></textarea>
                    </div>
                    <div>
                        <button type="submit" class="btn" id="btnSend">Submit</button>
                    </div>
                </form>
                <br>
                <br>
                <br>
            </div>
        </div> 

    <div class="promise-reveal">
    <span class="red line1">const </span><span class="darkblue line1">me</span> <span class="red line1">=</span> <span class="blue line1">"Matthew Moonen"</span><span class="white line1">;</span>
    <br>
    <span class="red line1">let</span> <span class="white line1">you</span> <span class="red line1">=</span> <span class="blue line1">"visitor"</span><span class="white line1">;</span>
    <br>
    <br>
    <span class="purple line1">greetings</span><span class="darkblue line1">()</span><span class="white line1">;</span>
    <br>
    <br>
    <span class="red italic-code line1">async function</span> <span class="purple line1">greetings</span><span class="darkblue line1">() {</span>
    <br>
    <span class="grey line1">••</span><span class="darkblue line1">console</span><span class="white line1">.</span><span class="purple line1">log</span><span class="orange line1">(</span><span class="blue line1">`Welcome</span> <span class="purple line1">${</span><span class="darkblue line1">you</span><span class="purple line1">}</span><span class="blue line1">!`</span><span class="orange line1">)</span><span class="white line1">;</span>
    <br>
    <span class="grey line1">••</span><span class="red italic-code line1">await new</span> <span class="darkblue line1">Promise</span><span class="orange line1">(</span><span class="purple line1">(resolve)</span> <span class="red line1">=></span> <span class="purple line1">{</span>
    <br>
    <span class="grey line1">••••</span><span class="darkblue line1">window</span><span class="white line1">.</span><span class="purple line1">addEventListener</span><span class="darkblue line1">(</span><span class="blue line1">"scroll"</span><span class="white line1">,</span> <span class="orange line1">()</span> <span class="red line1">=></span> <span class="orange line1">{</span>
    <br>
    <span class="grey line1">••••••</span><span class="red line1">const</span> <span class="purple line1">{</span>
    <br>
    <span class="grey line1">••••••••</span><span class="darkblue line1">scrollTop</span><span class="white line1">,</span>
    <br>
    <span class="grey line1">••••••••</span><span class="darkblue line1">scrollHeight</span><span class="white line1">,</span>
    <br>
    <span class="grey line1">••••••••</span><span class="darkblue line1">clientHeight</span>
    <br>
    <span class="grey line1">••••••</span><span class="purple line1">}</span> <span class="red line1">=</span> <span class="darkblue line1">document</span><span class="white line1">.</span><span class="darkblue line1">documentElement</span><span class="white line1">;</span>
    <br>
    <span class="grey line1">••••••</span><span class="red line1">if</span> <span class="purple line1">(</span><span class="darkblue line1">scrollTop</span> <span class="red line1">+</span> <span class="darkblue line1">clientHeight</span> <span class="red line1">=></span> <span class="darkblue line1">scrollHeight</span><span class="purple line1">) {</span>
    <br>
    <span class="grey line1">••••••••</span><span class="purple line1">resolve</span><span class="darkblue line1">()</span><span class="white line1">;</span>
    <br>
    <span class="grey line1">••••••</span><span class="purple line1">}</span>
    <br>
    <span class="grey line1">••••</span><span class="orange line1">}</span><span class="darkblue line1">)</span><span class="white line1">;</span>
    <br>
    <span class="grey line1">••</span><span class="purple line1">}</span><span class="orange line1">)</span><span class="white line1">;</span>
    <br>
    <span class="grey line1">••</span><span class="darkblue line1">console</span><span class="white line1">.</span><span class="purple line1">log</span><span class="orange line1">(</span><span class="blue line1">Thanks for stopping by</span> <span class="purple line1">${</span><span class="darkblue line1">me</span><span class="purple line1">}</span><span class="blue line1">\'s website!</span><span class="orange line1">)</span><span class="white line1">;</span>
    <br>
    <span class="darkblue line1">}</span>
    </div>
    </body>
    </html>