{% extends '/base/base.html' %}

{% block title %}Matthew Moonen{% endblock %}

{% block content %}

    {% include '/base/navbar.html' %}

    <main>
        <h1>Matthew Moonen</h1>

        <p></p>


        <p>This website is a collection of personal projects. It has some code, some photography, and a few blog posts.</p>
        <p>Thanks for stopping by!</p>
        <p>Play my <a href="/german">German Language Learning Game</a></p>
        <p><a href="/contact">Contact me</a></p>

        
        {% include 'icons.html' %}
        
        <h2>Programming Projects</h2>
        <p>
            <h3>Major Project - German Language Learning Application</h3>
            <p></p>
            <p>Key technologies - JavaScript, JSON, Flask, jQuery, </p>
            <p>The app is built primarily in vanilla JavaScipt with a touch of jQuery. While it currently has just one lesson, the app has been built with future development in mind.</p>
                
            <p>Lesson content is served to the user via a JSON array, which in future versions could serve individualised questions via an API. Evidence-based spaced repetition algorithms such as the Leitner System would be used to evaluate the most effective lesson content based on the users' previous results and learning.</p>
                
            <p>Inspiration for this project came from my frustrations with the currently available German learning applications. There is often very little focus on concepts that students find particularly difficult such as cases, declensions, and rules for noun genders and plurals (and their exceptions!). These concepts are particularly complicated in German, which partly explains why the US Foreign Service Institute suggests achieving German fluency takes much longer than other West Germanic languages, such as Dutch.</p>

            <h3>YouTube Series - Deploying a Flask App to a VPS with Nginx</h3>
            <p></p>
            <p></p>

            <h3>YouTube Series - Getting Started with Git on a VPS</h3>

            <h3>Portfolio Website - Programming and Photography</h3>
            <p>Key technologies: Responsive Web Design, Javascript, CSS, HTML, Bootstrap, Flask</p>
            <p>
                The contact page utilises 
            </p>

            <h3>Blog</h3>
            <p>Cybersecurity, Programming </p>
            <p></p>
            <p></p>

            <h3>Courses, Challenges and Achievements</h3>
            <p>Courses from Harvard's CS50 and FreeCodeCamp</p>
            <p>900 completed challenges on Codewars. I'm in the top 4% of Python learners!
                Click Here to see my solutions to some of my favourite problems.</p>

        </p>

    </main>


{% endblock %}