

<div id="projects" class="projects index-section">


    <h1 class="title-projects">Some things I've built</h1>
    
    <!-- <h1 class="title-logui">LogiOpsGUI</h1> -->
    <img src="{{ url_for('static',filename='/img/logo_hires.png') }}" alt="LogiopsGUI Logo" class="logiops-logo">

    <h2 class="logui-byline">An Open Source Mouse Configuration tool for Linux - <a href="https://github.com/matthewmoonen/LogiOpsGui">View on GitHub</a></h2>
    
    <p>Featuring customisable buttons and gesture controls, the Logitech MX and M series mice are popular productivity tools amongst professionals and programmers</p>

    <!-- <h2 class="project-heading-link">No Logitech Software for Linux? I Made My Own.</h2> -->
    <h2 class="project-heading-link">There was no Logitech software for Linux, so I made my own and released it as an open-source project.</h2>



    <p>The MX and M series have substantial mature apps developed by Logitech, but the company themselves do not make a version of their software for Linux.
        
        In 2020, a community-developed driver was released which brought most of the configurability of these mice to Linux, but there was a problem. 

        Many users found these drivers tedious and confusing to set up, requiring a complicated configuration file and a lot of reading and research on the user's part to decifer 

        There had been discussions on GitHub for several years about developing a GUI (see here), but no project had proceeded past the early requirements gathering stage.
    
        I decided that needed to change. 

    </p>


    <div class="logui-div1">
            <img src="{{ url_for('static',filename='/img/001.png') }}" alt="Screenshot1" class="logui-screenshot">
            <img src="{{ url_for('static',filename='/img/003.png') }}" alt="Screenshot3" class="logui-screenshot">
            <img src="{{ url_for('static',filename='/img/002.png') }}" alt="Screenshot2" class="logui-screenshot">
        </div>


    </div>










